* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}

/* HEADER */
header {
    line-height: 100px;
    background-color: white;
    padding: 10px 0 10px 25px;
    
}
header img {
    height: 100px;
    vertical-align: middle;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    vertical-align: middle;
    
}

/* BODY */
body {
    background-color: #dfdddd;
}

/* MAIN */
main {
    background-color: white;
    width: 70%;
    height: 100vh;
    margin: 4rem auto 1rem;
    padding: 4rem 7rem 5rem;
    border-radius: 10px;
}

.button {
    font-size: 1.5rem;
    padding: 0.8em;
    
    border-radius: 10px;
}

.add-task {
    background-color: #47ADF1;
    color: white;
}

.add-section {
    background-color: white;
    border: 3px solid #dfdddd;
    color: #dfdddd;
}

hr {
    margin-top: 2rem;
}